@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
#pregraph {
  margin-top: 120px;
  margin: 0 5%;
  color:#808080;
}
#graph {
  margin: 0 5%;
  max-height: 35px;
  overflow: hidden;
}
#timeline {
    margin: 0 5%;
    max-height: 35px;
    overflow: hidden;
    margin-top: 1px;
  }
.btnright {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  text-align: right;
}
.app {
  display: flex;
  flex-direction: column;
  
}
.btn {
  width: 4rem;
  height: 1.9rem;
  border: 1px solid #1976d2;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 500;
  background-color: #1976d2;
}
.btnright > button:not(:last-child) {
  margin-right: 10px;
}
#root {
  margin-top: 100px;
  color: black;
}
.myTable {
  border-collapse: collapse;
  width: 100%;
}
#table {
  margin: 2rem 5% 0 5%;
}
.header {
  background-color: #f2f2f2;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.cell {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.left {
  float: left;
}
.right {
  float: right;
}